<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Escolha um tipo para cadastro</h2>

    <section class="example-section">
      <mat-radio-group>
        <div class="row">
          <div class="col">
            <mat-radio-button class="example-margin" value="after">Categoria</mat-radio-button>
          </div>
          <div class="col">
            <mat-radio-button class="example-margin" value="before">Nome do prato</mat-radio-button>
          </div>
        </div>
      </mat-radio-group>
    </section>
  </mat-card-content>
</mat-card>
